.item{
    @apply
    flex
    items-center
    md:gap-10
    gap-2
    border-2
    border-solid
    border-primary
    rounded-lg
    md:py-5
    md:px-10
    py-2
    px-4
    overflow-hidden
    cursor-pointer
    hover:bg-amber-200
    hover:bg-opacity-10;
}
.item *{
    transition: all .1s ease-in;
}

.img{
    @apply
    w-[30px]
}
.level{
    @apply opacity-0;
}
.title{
    transform: translateY(12px);
}

.item:hover .img {
    transform: scale(1.4);
}
.item:hover .level {
    @apply opacity-100
}
.item:hover .title{
    transform: translateY(0px);
}
